<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico</title>
</head>
<style>
    body {
        text-align: center; /* Centra todo el contenido en el cuerpo de la página */
    }

    img {
        display: block; /* Evita el espacio adicional debajo de la imagen */
        margin: auto; /* Centra la imagen horizontalmente */
    }
</style>
<body>
    <h1 style="text-align: center;">General</h1>
    
    <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Gráfico general">
    
    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 1 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta1 }}" alt="Gráfico Pregunta 1">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 2 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta2 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta2 }}" alt="Gráfico Pregunta 2">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 3 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta3 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta3 }}" alt="Gráfico Pregunta 3">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 4 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta4 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta4 }}" alt="Gráfico Pregunta 4">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 5 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta5 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta5 }}" alt="Gráfico Pregunta 5">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 6 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta6 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta6 }}" alt="Gráfico Pregunta 6">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 7 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta7 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta7 }}" alt="Gráfico Pregunta 7">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 8 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta8 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta8 }}" alt="Gráfico Pregunta 8">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 9 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta9 }}%</h1>
    <img src="data:image/png;base64,{{ imagen_base64_pregunta9 }}" alt="Gráfico Pregunta 9">

    <h1 style="text-align: center;">Gráfico de Porcentaje de Acuerdo a Pregunta 10 por Cliente</h1>
    <h1 style="text-align: center;">{{ resultado_final_pregunta10 }}%</h1>

    <img src="data:image/png;base64,{{ imagen_base64_pregunta10 }}" alt="Gráfico Pregunta 10">
</body>
</html>

